<div class="card-deck">
<div class="card" type="button">
    <img [src]="perfilVarClasse.ImagemUrl ? perfilVarClasse.ImagemUrl: '../../../../assets/img/perfil1.png'"
        class="card-img-top" (click)="video(perfilVarClasse)">
    <div class="card-body">
        <h5 class="card-title">{{perfilVarClasse.Nome}}</h5>
        <div class="config" *ngIf="!show">
            <a type="button" (click)="abrirModal()"><i class="fa fa-edit"></i></a>
            <a type="button" (click)="deletar(perfilVarClasse)"><i class="fa fa-remove"></i></a>
        </div>
    </div>
</div>
</div>
<div class="row containerPerfilForm">
    <div class="col-md-12">
        <div class="card-teste" *ngIf="show">
            <form [formGroup]="formPerfil">
                <div class="card-body-teste">
                    <h5>Editar Perfil:</h5><br>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Nome do Perfil" formControlName="Nome"
                                required>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Selecione a imagem</h6>
                            <img [src]="varImagemSelecionada ? varImagemSelecionada: '../../../../assets/img/perfil1.png'"
                                class="imagemSelecionada">
                            <div class="select">
                                <img src="../../../../assets/img/perfil1.png" (click)="onSelect($event)"
                                    id="imgPerfil1">
                                <img src="../../../../assets/img/perfil2.png" (click)="onSelect($event)"
                                    id="imgPerfil2">
                                <img src="../../../../assets/img/perfil3.png" (click)="onSelect($event)"
                                    id="imgPerfil3">
                                <img src="../../../../assets/img/perfil4.png" (click)="onSelect($event)"
                                    id="imgPerfil4">
                                <img src="../../../../assets/img/perfil5.png" (click)="onSelect($event)"
                                    id="imgPerfil5">
                            </div>
                            <input type="hidden" class="form-control" placeholder="Nome do Perfil"
                                formControlName="ImagemUrl">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <h6><input type="checkbox" ng-model="checkboxModel" (change)="ckeckValue()"
                                formControlName="Restricao" /> Infantil?</h6>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="adicionar">
                                <a type="button" class="btn btn-light salvar" (click)="editar(perfilVarClasse)">Salvar</a>
                                <a type="button" class="btn btn-light" (click)="cancelar()">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>