<form [formGroup]="formLogin" class="containerLogin">
    <h1>Entrar</h1><br> 
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="E-mail" formControlName="email" required>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <input type="password" class="form-control" placeholder="Senha" formControlName="senha" required>
        </div>
    </div><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="manterLogado" 
               ng-model="checkboxModel" (change)="ckeckValue()">
        <label class="form-check-label">
            Lembre-se de mim
        </label>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger" (click)="submit()" [disabled]="!formLogin.valid">
                Acessar
            </button>
        </div>
    </div><br>
    <div>
        Novo por aqui? <a class="assinar" (click)="assinar()">Assine agora</a>
    </div>
</form>
