<div class="body">
    <div class="header">
        <div class="nav">
            <div class="logo"><img src="../../../../assets//img/logo-bg-dark-removebg.png
                "></div>
            <div class="logar">
                <button class="entrar" (click)="entrar()">Entrar</button>
            </div>
        </div>
        <div class="content">
            <ng-container *ngIf="!show; then template1 else template2"></ng-container>

            <ng-template #template1>

                <h1 class="title">
                    Filmes, séries e muito mais. Sem limites.
                </h1>
                <h3 class="info">Assista onde quiser. Cancele quando quiser.</h3>
                <br><br><br>
                <h3 class="info">Novo por aqui? Assine agora.</h3>
                <br><br>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <button type="submit" class="assinar" (click)="assinar()">Assine a Netflix</button>
                    </div>
                </div><br>
            </ng-template>
            <ng-template #template2>
                <div class="routers">
                    <router-outlet></router-outlet>
                </div>
            </ng-template>

        </div>
    </div>
</div>