<div class="body">
    <div class="header">
        <div class="nav">
            <div class="logo"><img src="../../../../assets//img/logo-bg-dark-removebg.png
                "></div>
            <div class="logar">
                <button class="entrar">Entrar</button>
            </div>
        </div>
        <h1 class="title">
            Filmes, séries e muito mais. Sem limites.
        </h1>
        <h3 class="info">Assista onde quiser. Cancele quando quiser.</h3>
        <h3 class="info">Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h3>
      
        <!-- <router-outlet></router-outlet> -->
    </div>
</div>