.background {
  margin: 0 auto;
  height: auto;
  background: rgba(0, 0, 0, 255);
  background-size: cover;
  color: var(--color-pimaria);
}
.logo img {
  width: 170px;
  height: 100px;
  float: right;
  margin-left: 30px;
}
.title {
  max-width: 720px;
  margin: 0 auto;
  display: block;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

.btn-danger {
  background-color: var(--bg-secundaria);
  border: none;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 1005px;
}
.gerenciarPerfis{
  margin-top: 15px;
  margin-left: 550px;
}