*,
*:before,
*:after {
  box-sizing: border-box;
  overflow: hidden;
}
.background {
  margin: 0 auto;
  height: 667px;
  background: rgba(0, 0, 0, 255);
  background-size: cover;
  color: var(--color-pimaria);
}
.logo img {
  width: 170px;
  height: 100px;
  float: right;
  margin-left: 30px;
}
.title {
  max-width: 720px;
  margin: 0 auto;
  display: block;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
}

.btn-danger {
  background-color: var(--bg-secundaria);
  border: none;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 1005px;
}

.btn-light {
  background-color: var(--bg-secundaria);
  color: white;
  border: none;
}
.card-deck {
  padding: 50px 100px;
}
.adicionar {
  cursor: pointer;
}
.fa-plus {
  padding: 10px 15px;
  margin: 50px auto;
  font-size: 50px;
  border: 2px solid var(--color-pimaria);
  border-radius: 50%;
}

.card {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.card img {
  max-width: 15%;
  margin: 10px auto;
}
.card-title {
  text-align: center;
}

.salvar{
  margin-top: 10px;
}